* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  background-image: linear-gradient(
    to right,
    rgb(228, 15, 132),
    rgb(26, 157, 218)
  );
}

.container {
  margin: 0 auto;
  width: 90%;
  height: auto;
}
.cont {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-image: url("../pics/muse15.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  margin: 0 auto;
  width: 80%;
  height: auto;
  text-align: center;
}

.title p {
  font-size: 20em;
  line-height: 100%;
  border-top: 10px solid black;
  border-bottom: 10px solid black;
  margin: 0 auto;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  justify-content: flex-end;
  margin: 0px 10px 10px 10px;
}
.navigation a {
  text-decoration: none;
  margin: 10px 10px 30px 10px;
  font-family: sans-serif;
  color: black;
  padding: 5px 16px;
}
.cont a {
  color: rgb(255, 32, 125);
}
.cont footer {
  background-image: linear-gradient(
    to right,
    rgb(228, 15, 132),
    rgb(26, 157, 218)
  );
  width: 100%;
  height: 82px;
  padding-bottom: 10px;
}
.navigation a:hover {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.cont .navigation a:hover {
  border-top: 3px solid rgb(255, 32, 125);
  border-bottom: 3px solid rgb(255, 32, 125);
}

nav a.active {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
}
.cont nav a.active {
  border-top: 3px solid rgb(255, 32, 125);
  border-bottom: 3px solid rgb(255, 32, 125);
}
.menu {
  padding-top: 20px;
}

header {
  width: 100%;
  height: 50px;
  margin-bottom: 3%;
}
footer {
  width: 20%;
  height: 170px;
  padding-top: 20px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-wrap: wrap;
  align-content: flex-end;
}
footer img {
  width: 50px;
  height: 50px;
  padding: 10px 10px 0px 10px;
}
footer p {
  margin-top: 0px;
}

.container h1 {
  text-align: center;
  color: black;
}
.content {
  display: flex;
  justify-content: space-between;
}
.side {
  flex: 30%;
}

.side img {
  width: 400px;
  height: 430px;
  margin-top: 10%;
}
.main {
  display: grid;
  grid-template-columns: 265px 265px 265px;
  padding: 0px 10px 0px 10px;
}

.grid-item img {
  width: 200px;
  height: 108.8px;
}
.grid-item img:hover {
  opacity: 0.6;
}
.grid-item a {
  text-decoration: none;
  color: rgb(15, 14, 14);
}
.grid-item {
  padding: 5px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight:600;
}
.grid-item p {
  margin-top: 1%;
}
.grid-item p:hover {
  color: rgb(228, 18, 175);
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

main {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: black;
  padding: 2% 0%;
}
.space {
  width: 100%;
  height: 73%;
}
.footer {
  align-items: flex-end;
  height: 72px;
}

form {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(118, 130, 153);
  padding: 4%;
  border-radius: 5px;
}
.form {
  width: 30%;
  height: 90%;
  position: fixed;
  bottom: 0%;
  right: 5%;
}

input,
select {
  padding: 5px;
  margin: 10px;
}

label.radio {
  height: 2%;
}
input[type="submit"] {
  width: 50%;
  margin: auto;
}
.gender {
  display: flex;
  flex-direction: row;
}
.frm-gender {
  margin-bottom: 0;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-item {
  width: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.flex-item p {
  width: 40%;
  margin-top: 0px;
}
.flex-item img {
  width: 200px;
}
.members {
  font-weight: 500;
  font-size: 7vh;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 4%;
}

.btn-close {
  position: absolute;
  top: 2%;
  right: 5%;
}

.btn {
  position: fixed;
  bottom: 0%;
  right: 5%;
  width: 10%;
}

.cnct {
  margin-bottom: 2%;
  font-size: 32px;
  font-weight: 600;
}
